{% extends 'base.html.twig' %}
  {% block title %}All programs{% endblock %}
{% block body %}

<main>
<section class= "container">
    <h1>Toutes les catégories disponibles --> Ajouter: <a href="/categories/new">( + )</a> </h1>
    {% for program in programs %}
        <div class = "text-center display-6">
    
           <li> <a href= "/categories/{{ program.name }}">{{ program.name }}</a> </li>
      
        </div>
    {% else %}
        Aucune série trouvée.
    {% endfor %}

  
</section>
</main>
{% endblock %}
