{% extends 'base.html.twig' %}
  {% block title %}All programs{% endblock %}
{% block body %}
    <h1>Tous les épisodes disponibles pour cette saison : </h1>
    {% for episode in episodes %}
        <div>
        <ul>
        <li> <a href= "/programs/{{ serie }}/seasons/{{ saison }}/episode/{{ episode.id }}">{{ episode.title }}</a></li>
        </ul>
        </div>
    {% else %}
        Aucun épisode trouvée.
    {% endfor %}
{% endblock %}
