
    {% extends 'base.html.twig' %}

  {% block title %}All programs{% endblock %}

{% block body %}

<main>
<section class = "container">
<h4>
<ul>
<li>
{% if app.user %}
    {{ app.user.email }}
    <a href="{{ path('logout') }}"> Se déconnecter</a>
{% else %}
    <a href="{{ path('app_login') }}"> Se connecter</a>
{% endif %}


</li>
<br>
<li>
<a href= "/categories">Accéder à la listes des catégories</a>
</li>
<br>
<li>
<a href= "/saison">Ajouter/Modifier/Supprimer une saison => CRUD SAISON</a>
</li>
<br>
<li>
<a href= "/episode/crud">Ajouter/Modifier/Supprimer un épisode => CRUD EPISODE</a>
</li>
</ul>
</h4>



</section>
</main>


{% endblock %}
